.idea/
.venv/
translated/pxl-0
translated/PixelLiner_Modified.air
translated/pxl.swf
translated/src/pxl.swf
air/doNotModify/translateFrom.txt
air/pxl-0
air/pxl.swf
air/pxl-0.abc
ch.txt
RABCDAsm/
RABCDAsm.7z
temp/
__pycache__/
myEN